<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services
        http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="simple_html_dom" class="Martyrer\SimpleHtmlDomBundle\DomParser\Parser" autowire="true" />
        <service id="Martyrer\SimpleHtmlDomBundle\DomParser\Parser" alias="simple_html_dom" />
    </services>
</container>
